<form *ngIf="showAddEmpoloyee" class="form-control" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="name">name</label>
        <input type="text" [(ngModel)]="name" id="name" name="name" placeholder="enter name" />
    </div>
    <div class="form-control">
        <label for="email">email</label>
        <input type="text" [(ngModel)]="email" id="email" name="email" placeholder="enter email" />
    </div>
    <div class="form-control">
        <label for="phone">Phone-Number</label>
        <input type="text" [(ngModel)]="phonenumber" id="phone" name="phone" />
    </div>
    <div class="form-control">
        <label for="prof">Prof</label>
        <input type="text" [(ngModel)]="prof" id="prof" name="prof" />
    </div>
    <input type="submit" value="Save Task" class="btn-block">
</form>

